{% extends 'home.html' %}

{% block title %} - titanic_dual_axes{% endblock %}

{% block content %}
<body>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <div id="container" style="margin-top: 20px;"></div>

    <script>
        Highcharts.chart('container', {
            chart: {
                zoomtype: 'xy'      /* 그래프 타입 */   // 이중 축의 작성을 위함
            },
            title: {
                text: '좌석 등급에 따른 타이타닉 생존/비생존 인원 및 생존율'    /* 그래프 제목 */
            },
            xAxis: [{
                categories: {{ categories|safe }} , /* safe 필터 */
                crosshair: true
            }],


        yAxis: [{ // 첫 번째 y축

        title: {
            text: '인원',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        labels: { // y축 label 지정
            format: '{value} 명',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
            opposite: true
    }, { // 두 번째 y축
        title: {
            text: '생존율',
            style: {
                color: Highcharts.getOptions().colors[0]

            }
        },

        labels: { // y축 label 지정
            format: '{value} %',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        }

    }],
        tooltip: {  // 그래프 왼쪽에 있는 범례
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 120,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || // theme
            'rgba(255,255,255,0.25)'
        },


        series: [{

            name: '생존',
            type: 'column',
            data: {{ survived_series }},
            color: 'green',
            tooltip: {
                valueSuffix: ' 명'
                        }
        }, {
            name: '비생존',
            type: 'column',
            data: {{ not_survived_series }},
            color: 'red',
            tooltip: {
                valueSuffix: ' 명'
                        }
        }, {
            yAxis: 1,   // 생존율 축이 왼쪽에
            name: '생존율',
            type: 'spline',
            data: {{ rate_series }},
            tooltip: {
                valueSuffix: ' %'
                        },
        }
    ]

        });
    </script>
</body>
{% endblock %}

