{% extends 'home.html' %}
{% block title %}- Registration{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-dark">Please enter your account information.</div>
        <form action="" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input class="btn btn-success" type="submit" value="Register">
        </form>
    </div>
    <div class="col-md-2"></div>
    </div>
{% endblock %}
